body {
    margin: 0;
    font-family:'Manjari';
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header {
    width: 100%;
    height: 120px;
    border-bottom: 1px solid #e5e5e5;
    display: flex;
    justify-content: center;
}
.header-content {
    width: 1024px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 235px;
    margin-left:14px;
}
.links {
    width: 460px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.link {
    text-decoration: none;
    font-size: 19px;
    color:#5b5c5b;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 20px;
    margin:0;
    height: 40px;
}
.transit {
    transition: .3s;
}
.link:active {
    color: #5b5c5b;
}
.link:hover {
    background:#373737;
    color: white;
    display: flex;
    transition: .3s;
}


.banner {
    width: 1024px;
    height: 540px;
    display: flex;
    align-items: center;
    justify-content: space-between;


}
.ipad {
    margin-right: -150px;
}
.banner-text {
    display:flex;
    flex-direction: column;
}

.title-big {
   font-size: 44px; 
}
.title-midle {
font-size: 33px;
}
.banner-buttom {
    background-color: #373737;
    width: 205px;
    height: 40px;
    color:white;
    font-size: 18px;
    cursor: pointer;
    display:flex;
    justify-content: center;
    align-items:center;
}
.banner-buttom:hover {
    animation-name: shake;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.camera {
    margin-right:10px;
}
.content {
    width: 1024px;
    display: flex;
    justify-content: space-between;

}
.content-info {
    height: 1040px;
    width:680px;
}
.ads {
    height: 1000px;
    width: 325px;
}
.slider {
    width: 100%;
    height: 242px;
    display:flex;
    position: relative;
}
.slider-img {
    width: 310px;
    height: 100%;
    background:radial-gradient(#e9e9e9,#a5a5a5);
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    /*background-color: #e9e9e9;*/
    /*box-shadow:inset -30px 0 100px 1px rgba(0,0,0,0.6);*/
}
.slider-content {
    margin-left: 30px;
    display:flex;
    flex-direction: column;
    width: 320px;
    color:#5b5c5b;
}
.slider-title {
    font-size: 21px;
    line-height: 30px;
}
.slider-buttons {
    width: 63px;
    height: 39px;
    position: absolute;
    right:0;
    bottom: 0;
    display: flex;
}
.button-item {
    height:100%;
    width: 32px;
    background-color:#989998;
    cursor:pointer;
    transition: .3s;
    background-repeat: no-repeat;
    background-position: center;

}
.button-item:hover {
    background-color: #7c7c7c;
    transition: .3s;
}
.next {
    border-left:1px solid white;
    background-image:url("./images/arrow.png");
    transform: rotate(180deg);
}
.prev {
    background-image:url("./images/arrow.png");
}
.cards {
    width: 100%;
    height: calc(100% - 242px);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
}
.card-item {
    width: 215px;
    height: 215px;
    overflow: hidden;
    color:#5b5c5b;
    /*min-widht:215*/

}
.card-title {
    font-size:20px;
}
.card-data {
    font-size:12px;
    display: block;
    margin:16px 0 19px 0;
}
.card-text {
    font-size:12px;
    display: block;
    width: 100%;
    text-align:justify;
}
.ads-ipad {
    border:1px solid gray;
    border-radius: 1px;
    height: 250px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 21px;
    box-sizing: border-box;


}
.ipad-title-gray {
color:#9ba08d;
margin-top: 21px;
}
.ipad-title-green {
color:#b8dc58;
font-size:28px;
font-weight: 700;
}
.ipad-img {
    margin-top:20px;
}
.weeks {
    width: 100%;
    height: 270px;
    background-color: #86e7f0;
    margin-top: 26px;
    position: relative;
    padding-top:122px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    color:white;
}
.weeks-title {
    text-transform:uppercase;
    font-size:33px;
    margin-bottom:17px;
}
.weeks-text {
    width: 240px;
    letter-spacing: 3px;
    text-align: center;
}
.weeks:after {
    content:'12 week';
    width: 122px;
    height: 122px;
    border-radius: 50%;
    background-color: #ef809f;
    position: absolute;
    top: -16px;
    display: flex;
    align-items: center;
    justify-content: center;
    left:calc(50% - 61px);
    border:5px solid white;
    box-sizing: border-box;
    font-size: 35px;
    text-align: center;
}
.weeks-btn {
    width: 180px;
    height:30px;
    color:white;
    text-transform: uppercase;
    font-size:14px;
    background-color: #58d1dc;
    outline: none;
    border:none;
    cursor:pointer;
    border-radius:5px;
    margin-top:10px;
}
.form {
    width: 100%;
    height: 270px;
    background-color: #393a39;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-bottom:7px solid #bb4465;
    box-sizing: border-box;
    margin-top:25px;

}
.from-title {
    text-transform: uppercase;
    font-size:20px;
    margin-bottom:20px;

}
.form-text {
    margin-bottom:16px;
    width: 257px;
    font-size:13px;
}
.form-inp {
    width: 257px;
    height: 26px;
    padding-left: 10px;
    box-sizing: border-box;
    margin-bottom: 12px;
    outline: none;
    border:none
}
.form-btn {
    background-color: #bb4465;
    width: 180px;
    height:30px;
    color:white;
    text-transform: uppercase;
    font-size:14px;
    outline: none;
    border:none;
    cursor:pointer;
    border-radius:5px;
    margin-top:10px;
}
@keyframes shake {
    0% {
        transform: rotate(0);
    }
    33% {
        transform: rotate(10deg);
    }
    66% {
        transform: rotate(0)
    }
    100% {
        transform: rotate(-10deg);
    }
}

.footer {
    width: 100%;
    height:86px;
    color:white;
    background-color: #393a39;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:-16px;
}
 .copyright {
     text-align: center;
     width: 1024px;
     margin-top: -16px;
     position: relative;
 }
 .share-link {
     text-decoration: none;
 }
 .share {
     width: 112px;
     display: flex;
     justify-content: space-between;
     position: absolute;
     right:-35px;
     top: 0;
 }
 .hamburger {
     width: 80px;
     height: 80px;
     border:2px solid #323232;
     cursor: pointer;
     border-radius:8px;
     display:none;
     align-items: center;
     justify-content: center;
     margin-left: 40px;
 }
 @media screen and (max-device-width: 786px) {
    .hamburger {
        display:flex !important;
    }
    .links {
        display: none;
    }

}
@media screen and (max-device-width: 1174px) {
    .header-content {
        width: 100%;
    }
    .copyright {
        width: 100%;
    }
    .share {
        right: 20px;
    }
    
}
@media screen and (max-device-width: 1024px) {
    .banner {
        flex-direction: column-reverse;
        margin: 30px 0;
        width: 100%;
        
    }
    .ipad {
        margin-right: 0;
    }
    .content {
        flex-direction: column;
    }
    .content-info {
        width: 100%;
    }
    .ads {
        width: 100%;
        height: auto;
        margin-bottom: 30px;
    }
    .copyright {
        width: 100%;
    }
    .share {
        right: 20px;
    }
    .cards {
        padding: 0 30px;
        box-sizing: border-box;
    }
    .footer {
        width: 100%;
    }
}
 .hamb-line {
     width:70px;
     height: 2px;
     border:1px soldi #323232;
     background-color: #323232;
     position: relative;
 }
 .hamb-line:after {
     content: '';
     width:70px;
     height: 2px;
     border:1px soldi #323232;
     background-color: #323232;
     position: absolute;
     left:-1;
     top:-20px;

 }
 .hamb-line:before {
    content: '';
    width:70px;
    height: 2px;
    border:1px soldi #323232;
    background-color: #323232;
    position: absolute;
    left:-1;
    top:20px;
 }  